<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
<head>
    <title>AutoTime</title>
</head>
    <frameset id="frame1" rows="*" cols="285,*" framespacing="0" frameborder="yes" border="0">
        <frame src="../left" name="leftFrame" scrolling="NO" noresize>
        <frame src="../welcome" name="mainFrame" scrolling="auto"  noresize>
    </frameset>
<noframes>
<body>
</ul>
<ul class="nav navbar-nav navbar-right">
<li>欢迎您，<a href="../templates/welcome.html">{{user}}</a></li>
<li><a href="/login/"  target="_top">退出</a></li>
</ul>
</body>
</noframes>
</html>