<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>test</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<style type="text/css">
    .nav-sidebar > .active > a{
        color: #fff;
        background-color: #53245d;
    }
</style>
</head>
<body>
<nav class="navbar  navbar-default" role="navigation">
<div class="container">
<div class=" navbar-header">
    <a href="/welcome/" target="mainFrame" class="navbar-brand active" style="font-size: 22px ; color: #53245d;height: 20px;margin-left: 20px"><strong>AutoZone</strong></a>
</div>
</div>
</nav>
<div class="row" style="margin-top: -15px;margin-left: 2px">
        <div class="col-md-3">
            <div class="panel-group table-responsive" role="tablist">
                <div class="panel panel-primary left-Menu">
                    <div class="panel-heading" id="collapseListGroupHeading1" data-toggle="collapse" data-target="#collapseListGroup1" role="button" style="background-color: white; color:#53245d ">
                        <h1 class="panel-title" style="font-size: 19px"><span class="glyphicon glyphicon-list"></span>&nbsp&nbsp&nbsp&nbsp项目管理</h1>
                    </div>
                    <div id="collapseListGroup1" class="panel-collapse collapse" role="button" aria-labelledby="collapseListGroupHeading1" >
                        <ul class="list-group">
                            <li class="list-group-item"><a class="menu-item-left" href="../create_product/" target="mainFrame" style="color:#53245d">&nbsp&nbsp项目查看</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-primary left-Menu">
                    <div class="panel-heading" id="collapseListHeading2" data-toggle="collapse" data-target="#collapseListGroup2" role="button" style="background-color: white; color:#53245d">
                        <h2 class="panel-title" style="font-size: 19px"><span class="glyphicon glyphicon-refresh"></span>&nbsp&nbsp&nbsp&nbsp接口</h2>
                    </div>
                    <div id="collapseListGroup2" class="panel-collapse collapse" role="button" aria-labelledby="collapseListHeading2">
                        <ul class="list-group">
                            <li class="list-group-item " data-target=""><a class="menu-item-left" data-target="" style="color:#53245d" href="/singel_api_test/" target="mainFrame">&nbsp&nbsp接口</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-primary left-Menu">
                    <div class="panel-heading" id="collapseListHeading3" data-toggle="collapse" data-target="#collapseListGroup3" role="button" style="background-color: white; color:#53245d">
                        <h3 class="panel-title" style="font-size: 19px"><span class="glyphicon glyphicon-phone"></span>&nbsp&nbsp&nbsp&nbspWeb</h3>
                    </div>
                    <div id="collapseListGroup3" class="panel-collapse collapse" role="button" aria-labelledby="collapseListHeading3">
                        <ul class="list-group">
                            <li class="list-group-item"><a class="menu-item-left" data-target="" style="color:#53245d" href="/Web_test_robotframework/" target="mainFrame">&nbsp&nbsp添加用例脚本</a></li>
                            <li class="list-group-item"><a class="menu-item-left" data-target="" style="color:#53245d" href="/keywordslibrary/" target="mainFrame">&nbsp&nbspSelenium+Builtln+图像操作关键字</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-primary left-Menu">
                    <div class="panel-heading" id="collapseListHeading13" data-toggle="collapse" data-target="#collapseListGroup13" role="button" style="background-color: white; color:#53245d">
                        <h3 class="panel-title" style="font-size: 19px"><span class="glyphicon glyphicon-phone"></span>&nbsp&nbsp&nbsp&nbspLocust性能测试</h3>
                    </div>
                    <div id="collapseListGroup13" class="panel-collapse collapse" role="button" aria-labelledby="collapseListHeading13">
                        <ul class="list-group">
                            <li class="list-group-item"><a class="menu-item-left" data-target="" style="color:#53245d" href="/App_test_robotframework/" target="mainFrame">&nbsp&nbsp添加测试脚本</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-primary left-Menu">
                    <div class="panel-heading" id="collapseListHeading5" data-toggle="collapse" data-target="#collapseListGroup5" role="button" style="background-color: white; color:#53245d">
                        <h6 class="panel-title" style="font-size: 19px"><span class="glyphicon glyphicon-hourglass"></span>&nbsp&nbsp&nbsp&nbsp定时任务</h6>
                    </div>
                    <div id="collapseListGroup5" class="panel-collapse collapse" role="button" aria-labelledby="collapseListHeading5">
                        <ul class="list-group">
                            <li class="list-group-item"><a class="menu-item-left"  style="color:#53245d" href="/singel_periodic_task/" target="mainFrame">&nbsp&nbsp接口测试任务</a></li>
{#                            <li class="list-group-item"><a class="menu-item-left"  style="color:#53245d" href="/process_periodic_task/" target="mainFrame">&nbsp&nbsp流程接口测试任务</a></li>#}
                            <li class="list-group-item"><a class="menu-item-left"  style="color:#53245d" href="/webcase_periodic_task/" target="mainFrame">&nbsp&nbspWeb测试任务</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-primary left-Menu">
                    <div class="panel-heading" id="collapseListHeading6" data-toggle="collapse" data-target="#collapseListGroup6" role="button" style="background-color: white; color:#53245d">
                        <h7 class="panel-title" style="font-size: 19px"><span class="glyphicon glyphicon-list-alt"></span>&nbsp&nbsp&nbsp&nbsp测试报告</h7>
                    </div>
                    <div id="collapseListGroup6" class="panel-collapse collapse" role="button" aria-labelledby="collapseListHeading6">
                        <ul class="list-group">
                            <li class="list-group-item"><a class="menu-item-left" data-target="" style="color:#53245d" href="/testReport/" target="mainFrame">&nbsp&nbsp接口测试报告</a></li>
                            <li class="list-group-item"><a class="menu-item-left" data-target="" style="color:#53245d">&nbsp&nbspWeb测试报告</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-primary left-Menu">
                    <div class="panel-heading" id="collapseListHeading9" data-toggle="collapse" data-target="#collapseListGroup9" role="button" style="background-color: white; color:#53245d">
                        <h10 class="panel-title" style="font-size: 19px"><span class="glyphicon glyphicon-tags"></span>&nbsp&nbsp&nbsp&nbsp邮件发送配置</h10>
                    </div>
                    <div id="collapseListGroup9" class="panel-collapse collapse" role="button" aria-labelledby="collapseListHeading9">
                        <ul class="list-group">
                            <li class="list-group-item"><a class="menu-item-left" data-target="" style="color:#53245d" href="/email_add_page/" target="mainFrame">&nbsp&nbsp邮件配置</a></li>
                            <li class="list-group-item"><a class="menu-item-left" data-target="" style="color:#53245d">&nbsp&nbsp数据库配置</a></li>
                        </ul>
                    </div>
                </div>
            </div>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    $(function(){
        $(".panel-heading").click(function(e){
            /*切换折叠指示图标*/
            $(this).find("span").toggleClass("glyphicon-chevron-down");
            $(this).find("span").toggleClass("glyphicon-chevron-up");
        });
    });
</script>
        </div>
</div>
</body>
</html>
