<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monkey测试结果检测</title>
</head>
<body>
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <h1>Monkey 测试</h1><small>monkey_test</small><br>
        请输入测试执行人：<input type="text" name="people"><br>
        请输入测试 版本 &nbsp;：<input type="text" name="version"><br>
        请上传monkey日志文件：<br>
        <input type="file" name="myfile"><br>
        <input type="submit" value="上传">
    </form>

    <h1>分析结果：</h1><hr>
    <table border="1">
        <thead>
            <tr>
                <td>ID</td>
                <td>测试执行人</td>
                <td>测试执行版本</td>
                <td>BUG数量统计</td>
                <td>备注</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{'people'}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

</body>
</html>
