<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="bootstrap-fileinput/css/fileinput.min.cssbootstrap-fileinput/js/fileinput.min.js">-->

</head>
<style type="text/css">
    h4{
        padding-left: 350px;
        padding-top: 80px;
    }
        .navbar-nav.navbar-right{
        margin-right: 0px;
    }
    @media (min-width: 768px){
        .navbar-right{
        float: right !important;
        }
    }
    @media only screen and (min-width: 767px){
        .navbar-nav>li>a {
            padding: 8px 15px;
            margin-top: 16px;
            display: block;
            position: relative;
        }
    }
</style>
<body>
<nav  class="navbar navbar-fixed-top navbar-has-shadow">
    <div  class="container">
        <div id="navbar-collapse" class="navbar-collapse collapse" aria-expanded="false">
           <ul class="nav navbar-nav navbar-right">
               <li><a id="user-idle" href="#" class="glyphicon glyphicon-user">&nbsp{{user}}</a></li>
               <li><a id="user-idle" href="#" class="glyphicon glyphicon-open">上传测试用例</a></li>
               <li><a id="logout-btn" href="/login/" target="_top">退出</a></li>
           </ul>
        </div>
    </div>
</nav>
<div class="col-sm-offset-2">
    <h4 href="#">欢迎您，来到 AutoZoneV1.0</h4>
</div>
<div class="col-md- col-md-3 main" style="padding-top: 30px">
    <div class="thumbnail" >
        <img src="{% static 'img/task.jpg' %}"   alt="">
        <div class="caption">
            <p><a href="#" class="btn btn-primary btn-xs" role="button">点击进入</a> </p>
        </div>
        </img>
    </div>
</div>
<div class="col-md-3 col-md-3 main" style="padding-top: 30px">
    <div class="thumbnail" >
        <img src="{% static 'img/error.jpg' %}"  alt="">
        <div class="caption">
            <p><a href="#" class="btn btn-primary btn-xs" role="button">点击进入</a> </p>
        </div>
        </img>
    </div>
</div>
<div class="col-md-4 col-md-3 main" style="padding-top: 30px">
    <div class="thumbnail">
        <img src="{% static 'img/case.jpg' %}"  alt="">
        <div class="caption">
            <p><a href="#" class="btn btn-primary btn-xs" role="button">点击进入</a> </p>
        </div>
        </img>
    </div>
</div>
<div class="col-md-5 col-md-3 main" style="padding-top: 30px">
    <div class="thumbnail" >
        <img src="{% static 'img/feedback.jpg' %}"  alt="">
        <div class="caption">
            <p><a href="#" class="btn btn-primary btn-xs" role="button">点击进入</a> </p>
        </div>
        </img>
    </div>
</div>
</div>
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>